extends layout

block content
    #login 
      h1 Login
      //Insert form
      form(method='POST' action='/login' autocomplete ="off")
        fieldset
            label(for='username') Username &nbsp;
            input#username(type='text' name='username', required)
        fieldset
            label(for='password') Password &nbsp;
            input#password(type='password' name='password', required)
        input(type='submit' value='Login')
        
        //using footer here from partials folder
        include partials/footer